<div class='container-fluid container-wrap'>
    <div class='row'>
        <div class='col-md-2 mt-5'>
            <div class='row side-menu'>
                <div class='col-sm-12' onclick="document.getElementById('sala').scrollIntoView();">Sala</div>
                <div class='col-sm-12' onclick="document.getElementById('cozinha').scrollIntoView();">Cozinha</div>
                <div class='col-sm-12' onclick="document.getElementById('quartos').scrollIntoView();">Quartos</div>
                <div class='col-sm-12' onclick="document.getElementById('sala-estudos').scrollIntoView();">Sala de
                    Estudos</div>
                <div class='col-sm-12' onclick="document.getElementById('area-externa').scrollIntoView();">Área Externa
                </div>
                <div class='col-sm-12' onclick="document.getElementById('banheiros').scrollIntoView();">Banheiros</div>
                <div class='col-sm-12' onclick="document.getElementById('lavanderia').scrollIntoView();">Lavanderia
                </div>
            </div>
        </div>
        <div class='col-md-10'>
            <h1 class='mt-3'>Nossa Casa</h1>
            Abrimos as portas da mansão Boemia para mostrar toda a nossa atual estrutura em detalhes.
            Atualmente estamos localizados no bairro Bauxita, à 10 segundos da UFOP e 10 minutos do IFMG,
            em uma casa que comporta confortavelmente até 12 pessoas.<br /> Abaixo mostraremos algumas fotos e
            características de nossa querida casa.
            <div id='sala' class='area-1'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/sala1.jpg' class='img-fluid'>
                    </div>
                    <div class='col-md-6 col-sm-12 p-2 text-right'>
                        <h4>Sala</h4>
                        A sala é um dos nossos diversos locais de convivência, onde assistimos filmes, jogos, estudamos
                        ou simplesmente trocamos uma ideia nos momentos de descontração.
                        <ul class="list-unstyled lista-casa text-center">
                            <li>
                                <i class='fa fa-television'></i> Televisão de 42"
                            </li>
                            <li>
                                <i class='fa fa-forumbee'></i> SKY com todos os canais liberados
                            </li>
                            <li>
                                3 sofás
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div id='cozinha' class=''>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-2'>
                        <h4>Cozinha</h4>
                        Altamente frequentada por aqueles amantes da culinária, a cozinha da Boemia oferece toda a
                        estrutura necessária para o preparo das mais diversas refeições. Além disso também é um espaço de convivência de todos e, devido ao seu enorme tamanho, é também a boate Boemia. <br>
                        <ul class="list-unstyled lista-casa text-center">
                            <li>
                                Fogão Industrial e forno Microondas
                            </li>
                            <li>
                                Geladeira e freezer Vertical
                            </li>
                            <li>
                                Todos os utensílios para cozinhar
                            </li>
                            <li>
                                1 pia, bancadas e mesas
                            </li>
                            <li>
                                Amplo espaço para confraternizações
                            </li>
                            <li>
                                Quadro branco e quadro de notas
                            </li>
                            <li>
                                <i class='fa fa-music'></i> Equipamento profissional de som e boate
                            </li>
                        </ul>
                    </div>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/cozinha1.jpg' class='img-fluid'>
                        <img src='assets/images/casa/cozinha2.jpg' class='img-fluid'>
                    </div>
                </div>
               <!-- <div class='row'>
                    <div class='col-md-6  m-0 p-0'>
                        <img src='assets/images/casa/cozinha3.jpg' class='img-fluid'>
                    </div>
                    <div class='col-md-6  m-0 p-0'>
                        <img src='assets/images/casa/cozinha4.jpg' class='img-fluid'>
                    </div>
                </div>-->
            </div>
            <div id='quartos'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <!-- <img src='assets/images/casa/quarto4.jpg' class='img-fluid'> -->
                        <img src='assets/images/casa/quarto2.jpg' class='img-fluid'>
                    </div>
                    <div class='col-md-6 col-sm-12 p-2 text-right'>
                        <h4>Quartos</h4>
                        Nossa casa possui 6 quartos, com uma suíte.
                        Todos os quartos são arejados, recém pintados, sem mofo e de tamanho adequado.<br>
                        Além disso, todos os quartos já vem mobiliados com:
                        <ul class="list-unstyled lista-casa text-center">
                            <li>
                                <i class='fa fa-bed'></i> Cama e colchão
                            </li>
                            <li>
                                <i class='fa fa-building'></i> Armário e Comôda
                            </li>
                            <li>
                                <i class='fa fa-graduation-cap'></i> Escrivaninha e cadeira para estudo
                            </li>
                        </ul>
                        <small>Por opção nossa, não é possível aumentar a lotação de cada quarto, o número de pessoas
                            por quarto visa garantir o conforto de cada morador.</small>
                    </div>
                </div>
<!-- 
                <div class='row'>
                    <div class='col-md-6 m-0 p-0'>
                        <img src='assets/images/casa/quarto3.jpg' class='img-fluid'>
                    </div>
                    <div class='col-md-6 m-0 p-0'>
                        <img src='assets/images/casa/quarto4.jpg' class='img-fluid'>
                    </div>
                </div> -->
            </div>
            <div id='sala-estudos'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/salaestudo1.jpg' class='img-fluid'>
                        <!-- <img src='assets/images/casa/salaestudo2.jpg' class='img-fluid'> -->
                    </div>
                    <div class='col-md-6 col-sm-12 p-2 text-right'>
                        <h4>Sala de Estudos</h4>
                        A sala de estudos é o ambiente ideal para quem precisa se concentrar sem preocupações, o
                        ambiente é isolado e possui mesas de estudo, além de computadores em rede e impressora
                        multifuncional.
                        <ul class="list-unstyled lista-casa text-center">
                            <li>
                                <i class='fa fa-desktop'></i> Computador para utilização de todos
                            </li>
                            <li>
                                <i class='fa fa-print'></i> Impressora com Xerox e Scanner
                            </li>
                            <li>
                                <i class='fa fa-book'></i> Mesas e cadeiras para estudo
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div id='area-externa'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-2'>
                        <h4>Área Externa</h4>
                        A casa possui uma excelente área externa, com mais de 120m² e parcialmente coberta. Local de
                        socialização diária entre os boêmios e com várias
                        utilidades.
                        <h5>Garagem</h5>
                        Nossa garagem é muito ampla e tem espaço para até 5 carros de pequeno porte e, por ser coberta,
                        garante a conservação dos carros de moradores e visitantes.
                        <h5>Churrasqueira</h5>
                        Possuímos uma grande churrasqueira, com saída externa, mesa, grelhas, espetos e todos os
                        equipamentos necessários para fazer aquele churrasquinho de final de semana.
                        <h5>Mesa de Sinuca</h5>
                        Quem não gosta de jogar uma sinuquinha para relaxar? Principalmente para as épocas tensas de
                        prova.
                        A mesa fica em nossa área externa e é uma excelente opção para momentos de descontração.
                        <h5>Piscina</h5>
                        Para os raros dias de calor de Ouro Preto, possuímos uma piscina inflável de 10.000L. Excelente
                        em combinação com um churrasquinho.
                        <h5>Equipamento de Malhação</h5>
                        Corpo são, mente sã! Possuimos em casa alguns equipamentos de malhação, para aqueles que não
                        possuem tempo de frequentar uma academia regular. Com diversas anilhas, halter, barra e um banco
                        de supino.
                    </div>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/area1.jpg' class='img-fluid'>
                        <img src='assets/images/casa/area4.jpg' class='img-fluid'>
                    </div>
                </div>
                <!--<div class='row'>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/area3.jpg' class='img-fluid'></div>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/area4.jpg' class='img-fluid'></div>
                </div>-->
            </div>
            <div id='banheiros'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/banheiro1.jpg' class='img-fluid'>
                    </div>
                    <div class='col-md-6 col-sm-12 p-2 text-right'>
                        <h4>Banheiros</h4>
                        A casa possui 4 banheiros, sendo 2 internos, um em cada andar, um externo junto a lavanderia e uma suíte, garantindo um excelente fluxo para
                        horários de pico de banhos.
                    </div>
                </div>
            </div>
            <div id='lavanderia'>
                <div class='row'>
                    <div class='col-md-6 col-sm-12 p-2'>
                        <h4>Lavanderia</h4>
                        Nossa área de lavanderia é ampla, totalmente coberta e possui tanque, máquina
                        de lavar roupa, além de máquina secadora para os tempos chuvosos de Ouro Preto.
                    </div>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <img src='assets/images/casa/lavanderia1.jpg' class='img-fluid'>
                    <!--  <img src='assets/images/casa/lavanderia2.jpg' class='img-fluid'>-->  
                    </div>
                </div>
<!--
                <div class='row'>
                    <div class='col-md-6  m-0 p-0'>
                        <img src='assets/images/casa/lavanderia3.jpg' class='img-fluid'>
                    </div>
                    <div class='col-md-6  m-0 p-0'>
                        <img src='assets/images/casa/lavanderia4.jpg' class='img-fluid'>
                    </div>
                </div>
                -->
            </div>
            <!-- <div id='boate'>
                <div class='row'>
                    <div class='col-md-6  m-0 p-0'>

                <video width="50%" autoplay muted loop>
                    <source src="assets/images/casa/boate.mp4" type="video/mp4">
                  </video> 
                        </div>
                        </div>
            </div> -->

        </div>
    </div>
</div>