<div class='container-fluid container-wrap'>
    <h1 class='mt-3'>Nossa História</h1>
    <div class='row'>
        <div class='col-md-8 col-sm-12 mb-5'>
            É difícil dizer com exatidão quando a república surgiu. Os registros mais antigos datam 20 de fevereiro de 2001, na região da antiga Vila Rica.<br>
            Na cidade estigmatizada pelo Ciclo do Ouro, onde os inconfidentes e revolucionários cravaram seu nome na história, a vida boêmia foi um estilo de vida adotado pelos freqüentadores noturnos de seus becos, ladeiras e ruelas. Nesta vida transcreve a maior expressão de ideal buscada pelos estudantes da Universidade Federal de Ouro Preto.
            Os boêmios Hyoran Carlos Heringer (Barrão) e Bráulio Francis Magalhães (Bira), unindo ingredientes de qualidade a uma nova forma de construir o melhor ambiente para os estudantes ingressarem na carreira universitária, fundaram a República Boemia no complexo do Morro Vila Aparecida.
            Bastou aos fundadores inspirarem o ar lascivo que impera em Ouro Preto para juntos descobrirem as delícias das ninfetas e camofas, das cachaças e discórdias, trazendo consigo também a primeira leva de bixos: Gilberson (Ceborréia), Flávio (Turco), Euler (Naseca), Murilo (Sacolé), Lamartine (Kalango), entre outros. Enfim, consolidaram o núcleo e agregaram valores a esta inovadora estrutura republicana. <br>A partir dessa expansão, surgiu a necessidade de explorar novos horizontes. A nova Mansão Boemia foi transferida para a Vila Itacolomy, onde se consolidou e recebeu novos moradores, posteriormente organizando o maior carnaval de Ouro Preto na bauxita e logo depois no centro historico. <br>Atualmente a República Boemia se encontra na bauxita, localizada em frente a UFOP.
            <br>Na República Boemia, os mestres boêmios levam a palavra da nossa tradição: a responsabilidade de avaliação periódica das xoxotas nas vielas de Ouro Preto.        </div>
        <div class='col-md-4 col-sm-12 mb-5'>
            <h3>O Hino</h3>
            <div>
                <i style='font-size: 2.5em; color: #86591d;' class='fa fa-quote-left'></i>
                Todo dia acordo esquisito<br>
                Com um novo borogodó<br>
                Quero cachaça no gogó<br>
                E muita saia de filó<br>
                <br>
                As gordinhas eu beijo na testa<br>
                As gatinhas eu não beijo só<br>
                <br>
                Êhhhhh mamãe<br>
                Arruma um lugarzinho pro meu passarinho<br>
                Que não quer ficar no ninho só<br>
                Me dê um pouco de BOEMIA<br>
                Pro meu dia ficar melhor
                <br>
                <br>
                REPÚBLICA!! BOEMIA!!
                <br>
                REPÚBLICA!! BOEMIA!!
                <br>
                REPÚBLICA!! BOEMIA!!
            </div>
        </div>
    </div>
</div>