<div class='container-wrap container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
            <div class='main-banner d-none d-sm-none d-md-block'>
                <img src='assets/images/casa/panorama1.jpg' class='main-image'>

                <div class='main-title'>
                    Venha para a Boemia!<br/>
                    <small>Entre em <a href='https://api.whatsapp.com/send?phone=5531985235245' target='new'>contato (WhatsApp)</a> e reserve sua vaga para o período presencial.
                    </small><br>
                    <small class='small-title'>A APENAS <strong>10 SEGUNDOS</strong> DA UFOP</small>
                </div>
            </div>

            <div class='main-banner d-sm-block d-md-none'>
                <div class='main-title-sm'>
                    VENHA PARA A BOEMIA
                    <br>
                    <small class='small-title'>APENAS <strong>10 SEGUNDOS</strong> DA UFOP</small>
                </div>
            </div>
            <div class='container'>
                Passou na UFOP? A república Boemia oferece vagas para calouros de todos os cursos. Conheça abaixo um
                pouco mais sobre a nossa república, tire suas principais dúvidas e <strong>venha nos visitar!</strong>
                <div class='m-3'></div>
                <div class='row'>
                    <div class='col-md-6 col-sm-12'>
                        <ul class="list-unstyled vaga-info-main">
                            <li>
                                <i class='fa fa-home'></i> Casa nova, arejada e com 6 quartos e 4 banheiros.
                            </li>
                            <li>
                                <i class='fa fa-car'></i> Ampla área externa, com garagem coberta para 5 carros.
                            </li>
                            <li>
                                <i class='fa fa-rocket'></i> Apenas <strong>10 segundos</strong> de caminhada até a UFOP
                                e 10 minutos até o IFMG.
                            </li>
                            <li>
                                <i class='fa fa-map-marker'></i> Excelente localização, ao lado de padarias, academia,
                                supermercado, farmácia, ponto de ônibus e outros.
                            </li>
                            <li>
                                <i class='fa fa-shield'></i> Sem nenhum tipo de trote.
                            </li>
                        </ul>

                    </div>
                    <div class='col-md-6 col-sm-12 p-0'>
                        <div class='preco'>
                            Preço fixo para novos integrantes (2 primeiros meses):
                            <div class='value'>
                                R$250,00
                            </div>
                            <small><a href='#caixinha' data-toggle="collapse" data-target="#d3" onclick="document.getElementById('caixinha').scrollIntoView();
                                ">Saiba o que está incluso.</a></small>
                        </div>
                        <div routerLink='/contato' class='botao-contato'>
                            ENTRE EM CONTATO<br><small>E venha tomar um café</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class='container'>
        <div class='row social m-t-3'>
            <div class='col-sm-12'>
                <h3>Vídeo Promocional</h3>
            </div>
            <div class='col-sm-12'>

                <video width="100%" controls loop>
                    <source src="assets/images/promo.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <div class='row vagas-conheca'>
        <div class='col-md-4 casa p-0'>
            <a href='#' routerLink="/casa">
                <div class='overlay'>CONHEÇA<br /> NOSSA CASA</div>
            </a>
        </div>
        <div class='col-md-4 moradores p-0'>
            <a href='#' routerLink="/pessoas">
                <div class='overlay'>CONHEÇA<br /> OS MORADORES</div>
            </a>
        </div>
        <div class='col-md-4 historia p-0'>
            <a href='#' routerLink="/historia">
                <div class='overlay'>CONHEÇA<br /> NOSSA HISTÓRIA</div>
            </a>
        </div>
    </div>
    <div class='container'>
        <div class='row social m-t-3'>
            <div class='col-sm-12'>
                <h3>Social</h3>
            </div>
            <div class='col-md-6 col-sm-12 m-0 p-0'>
                <div class="fb-page" data-href="https://www.facebook.com/republicaboemia/" data-tabs="timeline"
                    data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/republicaboemia/" class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/republicaboemia/">República Boemia</a></blockquote>
                </div>
            </div>
            <div class='col-md-6 col-sm12  m-0 p-0'>
                <!-- LightWidget WIDGET -->
                <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe
                    src="//lightwidget.com/widgets/4255ca28fb935cc889025dd4ba37bd41.html" scrolling="no"
                    allowtransparency="true" class="lightwidget-widget"
                    style="width:100%;border:0;overflow:hidden;height:500px;"></iframe>
            </div>
        </div>
    </div>
    <div class='row duvidas-frequentes'>
        <div class='col-md-12'>
            <h2 class='text-center m-4'>Dúvidas Frequentes</h2>

            <div class='container'>Nós sabemos que podem surgir muitas dúvidas na hora de mudar de cidade e escolher uma
                moradia. Fizemos essa seção para tentar sanar algumas questões com relação a casa e a UFOP.

                <div class='m-3'>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d1">O que é uma república?</div>
                        <div class='content collapse' id='d1'>
                            Repúblicas são moradias estudantis muito tradicionais na cidade de Ouro Preto.
                            <br />Escolhida por um grande número de estudantes por proporcionar mais conforto por um
                            preço mais em conta, as repúblicas também são uma excelente opção para auxiliar na adaptação
                            do estudante em Ouro Preto, por normalmente incluir o calouro em um meio social amplo e com
                            diversos tipos de pessoas. Além de ser uma excelente oportunidade de convivência e de
                            vivenciar experiências que não são proporcionadas para o estudante que mora sozinho ou
                            apenas divide casa.
                            <br>
                            <br>
                            <strong>Escolha a vida republicana, escolha a Boemia!</strong>
                        </div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d2">Quantos moram na casa?</div>
                        <div class='content collapse' id='d2'>Atualmente estamos em 6 moradores, sendo que a casa tem
                            capacidade para 12 pessoas (2 por quarto).</div>
                    </div>
                    <div class='duvida' id='caixinha'>
                        <div class='title' data-toggle="collapse" data-target="#d3">O que está incluso na caixinha
                            (mensalidade)?
                        </div>
                        <div class='content collapse' id='d3'>
                            A caixinha (mensalidade) inclui as seguintes coisas:
                            <ul class='list-unstyled lista-duvida'>
                                <li>Aluguel</li>
                                <li>Água e luz</li>
                                <li>Internet 300MB fibra ótica</li>
                                <li>SKY com todos os canais liberados</li>
                                <li>Mantimentos básicos: arroz, feijão, café, açúcar, etc.</li>
                                <li>Produtos de limpeza</li>
                                <li>Produtos para lavagem de roupas</li>
                                <li>Manutenção da casa</li>
                            </ul>
                        </div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d6">Quanto pagarei de caixinha após meu
                            período de calouro?</div>
                        <div class='content collapse' id='d6'>Após os dois primeiros meses, a caixinha fica no valor de
                            R$350,00. E após o período de calouro as contas são divididas
                            igualmente entre os moradores da casa, então o valor depende do número de pessoas que estão
                            morando atualmente.</div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d4">O que é a batalha de vaga?</div>
                        <div class='content collapse' id='d4'>A "Batalha" de vaga é o termo utilizado tradicionalmente
                            pelas repúblicas para um período de adaptação que os calouros passam quando entram na casa.
                            Na Boemia, a "batalha" é puramente baseada na convivência do calouro com o restante dos
                            moradores da casa, algo que acreditamos que seja necessário em qualquer ambiente
                            coletivo.<br>Lembramos que não aplicamos <strong>qualquer tipo de trote</strong>, seja em
                            calouros ou moradores, e que todas as tarefas de casa são divididas entre todos.
                        </div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d5">A Boemia possui batalha de vaga?
                        </div>
                        <div class='content collapse' id='d5'>
                            A Boemia possui um período de adaptação, onde o calouro tem tempo para conhecer melhor o
                            perfil da casa, se integrar com os outros moradores e aprender um pouco sobre o
                            funcionamento da república.<br><b>Lembramos que não aplicamos qualquer tipo de trote.</b>
                        </div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d8">Como é feita a divisão dos quartos?
                        </div>
                        <div class='content collapse' id='d8'>A casa possui 6 quartos e capacidade de até 12 moradores,
                            a divisão é feita de acordo com a disponibilidade das vagas em cada quarto, de acordo com a
                            preferência de quem está entrando. Ocasionalmente pode ocorrer rotação entre os quartos.
                        </div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d9">Como é feita a divisão de tarefas da
                            casa?</div>
                        <div class='content collapse' id='d9'>A divisão de tarefas é acordada em reuniões periódicas e
                            divididas entre todos os moradores.</div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d10">A república realiza festas na casa?
                        </div>
                        <div class='content collapse' id='d10'>Não realizamos festas grandes na casa, apenas pequenas
                            confraternizações com ex-alunos e amigos durante finais de semana ocasionais, além de
                            sociais para integração com outras repúblicas.</div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d11">A Boemia só aceita calouros?</div>
                        <div class='content collapse' id='d11'>Aceitamos qualquer estudante de graduação da UFOP e do
                            IFMG, desde que respeitado o tempo mínimo de 3 anos para formatura. Também estamos
                            aceitando agregados, ou seja, pessoas sem vínculo com a graduação da UFOP ou IFMG, sujeito
                            ao número de vagas disponíveis na casa.</div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d12">A Boemia só aceita estudantes da
                            UFOP?</div>
                        <div class='content collapse' id='d12'>Também aceitamos estudantes de graduação do IFMG e
                            agregados.</div>
                    </div>
                    <div class='duvida'>
                        <div class='title' data-toggle="collapse" data-target="#d7">A Boemia possui algum animal de
                            estimação?</div>
                        <div class='content collapse' id='d7'>Não, atualmente não possuimos animal de estimação.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='whatsapp-wrap'>
    <a href='https://api.whatsapp.com/send?phone=5531985235245' target='new'><span class="fa-stack">
        <i class="fa fa-square fa-stack-2x square-wpp"></i>
        <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    
    <a href='https://www.instagram.com/republicaboemia/' target='new'><span class="fa-stack">
        <i class="fa fa-square fa-stack-2x square-insta"></i>
        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    
</div>